@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    font-family: "Rubik";
    text-decoration: none;
}

body {
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(pink, rgb(219, 156, 255));
    position: relative;
}

/* all */

.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    color: rgb(255, 255, 255);
    text-align: center;
    background-color: rgb(20, 20, 20);
    height: 50px;
}


#navtitle {
    color: white;
    text-align: center;
    padding-left: 50px;
    float: left;
}

.topnav {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75px;
    width: 100vw;
    transition: 0.5;
    background-color:rgb(24, 24, 24);
}

#navlogo {
    flex-basis: 10%;
    float: left;
}

button {
    border: 2px rgb(222, 222, 222) solid;
    border-radius: 5px;
    color: white;
    background-color: pink;
    text-align: center;
    padding: 10px;
    opacity: 0.75;
    transition: 0.3s;
}

button:hover {
    opacity: 1;
}

#navbuttons button {
    margin-left: 10px;
}

#navbuttons {
    margin-left: 40px;
    float: left;
}

.buttonWithAOSData {
    opacity: 0.75;
    transition: 0.3s;
}

.buttonWithAOSData:hover {
    opacity: 1;
}

/* Home */
.unleash {
    margin: auto;
    text-align: center;
    margin-top: 100px;
}

.unleash h1 {
    color: white;
    font-size: 40px;
}

.unleash p {
    color: white;
}

.who {
    margin: auto;
    width: 50vw;
    text-align: center;
}

.who h1 {
    margin-top: 50px;
    font-size: 40px;
    color: white;
}

.who p {
    color: white;
}

.socials i, .socials p {
    font-size: 25px;
    color: white;
}

.socials {
    margin-top: 50px;
    text-align: center;
}

/* Store */

.storetitle {
    font-size: 50px;
    text-align: center;
    color: white;
    margin-top: 50px;
}

.product {
    border: 5px solid black;
    height: 300px;
    width: 200px;
    border-radius: 30px;
    background-color: rgb(167, 167, 167);
    transition: .2s;
    margin: 10px;
    float: left;
}

.product:hover {
    border: 5px solid rgb(236, 236, 236)
}

.product img {
    height: 300px;
    width: 200px;
    border-radius: 25px;
}

.product p {
    font-size: 25px;
    color: white;
    position: relative;
    left: 10px;
    bottom: 75px;
}

.price {
    font-size: 15px !important;
    opacity: 0.5;
}


.row {
    height: 300px;
    width: 1150px;
    margin: auto;
}

/* product pages */

.productName {
    text-align: center;
    color: white;
    font-size: 50px;
    margin: 0;
}

.productSlogan {
    text-align: center;
    color: white;
    margin-bottom: 30px;
    font-size: 22.5px;
}

.productLogo {
    height: 300px;
    width: 300px;
}

.productDesc {
    text-align: center;
    color: white;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.productBtn {
    margin-top: 20px;
}